<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'bank_app/assets/images/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    
    <title>Banking web site</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bank_app/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'bank_app/assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'bank_app/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'bank_app/assets/css/owl.css' %}">

  </head>

  <body>
    <script>
  
  var msg="{{msg}}";
      if(msg!="")
          alert(msg)
 </script>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="home.html"><h2>Micro <em>Bank Website</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="http://127.0.0.1:8000/home/">Home
                      <span class="sr-only">(current)</span>
                    </a>
                </li> 

                <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/registration/">Registration</a></li>

                <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/login/">Login</a></li>

                <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/contact">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
     Banner Starts Here -->
    
   <div class="banner header-text">
      <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
          <div class="text-content">
            
            <h4> City Micro Bank</h4>
            <h2>Manage your account , any time any day</h2>
          </div>
        </div>
        <div class="banner-item-02">
          <div class="text-content">
            Micro bank is a financial institution where customers can save money. It is a small online bank application.
          </div>
        </div>
        <div class="banner-item-03">
          <div class="text-content">
            Micro bank is a financial institution where customers can save money. It is a small online bank application.
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

    <div class="best-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>About Us</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              Micro bank is a financial institution where customers can save money. It is a small online bank application.
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="{% static 'bank_app/assets/images/about-1-570x350.jpg' %}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

  

    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <div class="row">
                <div class="col-md-8">
                  <h4>Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque corporis amet elite author nulla.</p>
                </div>
                <div class="col-lg-4 col-md-6 text-right">
                  <a href="contact.html" class="filled-button">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright © 2020 Company Name - Template by: <a href="https://www.phpjabbers.com/">PHPJabbers.com</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'bank_app/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bank_app/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


    <!-- Additional Scripts -->
    <script src="{% static 'bank_app/assets/js/custom.js' %}"></script>
    <script src="{% static 'bank_app/assets/js/owl.js' %}"></script>
  </body>
</html>