{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>SOFT Team - Bootstrap Agency Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Bootstrap Agency Template" name="keywords">
        <meta content="Bootstrap Agency Template" name="description">

       <!-- Favicon -->
       <link href="{% static 'admin/img/favicon.ico' %}" rel="icon">

       <!-- Google Font -->
       <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
       
       <!-- CSS Libraries -->
       <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
       <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
       <link href="{% static 'admin/lib/slick/slick.css' %}" rel="stylesheet">
       <link href="{% static 'admin/libs/slick/slick-theme.css' %}" rel="stylesheet">
       <link href="{% static 'admin/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

       <!-- Template Stylesheet -->
       <link href="{% static 'admin/css/style.css' %}" rel="stylesheet">
       <style>
        table, td, th {
            border: 1px solid black;
            
          }
        table {
            border-collapse: collapse;
            width: 50%;
            font-size: 20px;
            
          }
        b{
            text-shadow: 2px 2px #571520;
            font-size: 25px;
        }
       </style>
    </head>

    <body>
        <div class="wrapper">
            <!-- Header Start -->
            <div class="header">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-2">
                            <div class="brand">
                                <a href="index.html">
                                    <img src="img/logo.png" alt="Logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="topbar">
                                
                                <div class="topbar-col">
                                   
                                </div>
                            </div>
                            <div class="navbar navbar-expand-lg bg-light navbar-light">
                                <a href="#" class="navbar-brand">MENU</a>
                                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                                    <span class="navbar-toggler-icon"></span>
                                </button>

                                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                                    <div class="navbar-nav ml-auto">
                                        <a href="http://127.0.0.1:8000/admin/" class="nav-item nav-link active">Home</a>
                                        <a href="http://127.0.0.1:8000/admin_user/" class="nav-item nav-link">Users</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header End -->


            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Single Page</h2>
                        </div>
                        <div class="col-12">
                            <a href="">Home</a>
                            <a href="">Single Page</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->


            <!-- Single Page Start -->
            <div class="single">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <form method="GET" >
                         
                            
                            <table align="center" >                              
                               
                               
                                  
                                    <tr> <td colspan="2" align="center"><b>{{ dict.0 }}</b></td></tr>
                                    <tr> <td>Gender</td><td>{{ dict.1 }}</td></tr>
                                    <tr><td>DOB</td><td> {{ dict.2 }}</td></tr>
                                    <tr><td>House Name</td><td>{{ dict.3 }}</td></tr>
                                    <tr> <td>Place</td><td>{{ dict.4 }}</td></tr>
                                    <tr><td>Phno</td><td> {{ dict.5 }}</td> 
                                        <tr> <td>Email</td><td>{{ dict.6 }}</td></tr>
                                    <tr><td>Account.No</td><td> {{ dict.7 }}</td></tr>
                                    <tr><td>ATM No</td><td>{{ dict.8 }}</td></tr>
                                    <tr><td>Balance</td><td>{{ dict.9 }}</td></tr>
                                </tr>
                            </table>
                            
                        </form>
                        
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- Single Page End -->


            <!-- Call to Action Start -->
            <div class="call-to-action">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-9">
                            <h2>Get A Free HTML Template</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet metus sit amet
                            </p>
                        </div>
                        <div class="col-md-3">
                            <a class="btn" href="https://htmlcodex.com/contact">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Call to Action End -->



            <!-- Footer Start -->
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="footer-about">
                                <h2>About Us</h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet metus sit amet diam varius commodo. Aliquam at nisl interdum
                                </p>
                                <br>
                                <p><i class="fa fa-map-marker-alt"></i>123 Street, New York, USA</p>
                                <p><i class="fa fa-phone-alt"></i>+012 345 67890</p>
                                <p><i class="fa fa-envelope"></i>info@example.com</p>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="footer-link">
                                        <h2>Useful Link</h2>
                                        <a href="">About Us</a>
                                        <a href="">Our Story</a>
                                        <a href="">Our Services</a>
                                        <a href="">Our Portfolio</a>
                                        <a href="">Our Projects</a>
                                        <a href="">Contact Us</a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="footer-link">
                                        <h2>Useful Link</h2>
                                        <a href="">Our Clients</a>
                                        <a href="">Clients Review</a>
                                        <a href="">Ongoing Customer</a>
                                        <a href="">Customer Support</a>
                                        <a href="">FAQs</a>
                                        <a href="">Site Map</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container copyright">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; <a href="https://htmlcodex.com">HTML Codex</a>, All Right Reserved.</p>
                        </div>
                        <div class="col-md-6">
                            <p>Template By <a href="https://htmlcodex.com">HTML Codex</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'admin/lib/slick/slick.min.js' %}" ></script>
        <script src="{% static 'admin/lib/isotope/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'admin/lib/lightbox/js/lightbox.min.js' %}"></script>

        <!-- Template Javascript -->
        <script src="{% static 'admin/js/main.js' %}"></script>
    </body>
</html>
